{% extends "SCOOLAPP/base.html" %}
{% load static %}


{% block header %}
    <title>SCOOLAPP - Students - All Students </title>
	<!-- Datatable -->
    <link href="{% static 'SCOOLAPP/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>All Student</h4>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{$ url 'Acceuil' $}">Acceuil</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">Students</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">All Student</a></li>
				</ol>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="row tab-content">
					<div id="list-view" class="tab-pane fade active show col-lg-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">All Students List  </h4>
								<a href="{% url 'FormAddEleve' %}" class="btn btn-primary">+ Add new</a>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table id="example" class="display" style="min-width: 845px">
										<thead>
											<tr>
												<th>#</th>
												<th>Matricule</th>
												<th>Nom</th>
												<th>Prenom</th>
												<th>Mobile</th>
												<th>classe</th>
												<th>Date de naissance</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											{% for elev in Eleves %}
												<tr>
													<td><img class="rounded-circle" width="35" src="{{elev.photoElev.url}}" alt=""></td>
													<td><strong>{{elev.MatriculeElev}}</strong></td>
													<td>{{elev.nomElev}}</td>
													<td>{{elev.prenomElev}}</td>
													<td><a href="javascript:void(0);"><strong>{{elev.TelephoneElev}}</strong></a></td>
													<td>{{elev.ClassElev}}</td>
													<td>{{elev.dateNaisElev}}</td>
													<td>
														<a href="{%url 'ModifierElev' elev.id %}" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
														<a href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
													</td>												
												</tr>
											{% endfor%}
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
{% endblock %}

{% block scripts %}
	<!-- Required vendors -->
    <script src="{% static 'SCOOLAPP/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'SCOOLAPP/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'SCOOLAPP/js/custom.min.js' %}"></script>
    <script src="{% static 'SCOOLAPP/js/dlabnav-init.js' %}"></script>	

	<!-- Datatable -->
    <script src="{% static 'SCOOLAPP/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'SCOOLAPP/js/plugins-init/datatables.init.js' %}"></script>
	
    <!-- Svganimation scripts -->
    <script src="{% static 'SCOOLAPP/vendor/svganimation/vivus.min.js' %}"></script>
    <script src="{% static 'SCOOLAPP/vendor/svganimation/svg.animation.js' %}"></script>
    <script src="{% static 'SCOOLAPP/js/styleSwitcher.js' %}"></script>


{% endblock %}
